<%# app/views/recipes/_recipe.html.erb %>
<p>
        <%= recipe.last.name %>
        <%= recipe.last.description %>
        <%= recipe.last.level %>
        <%= recipe.last.recipe_type %>
        <%= recipe.last.kcal %>
        <%= recipe.last.time%>

</p>
