<div data-controller="recipeswipe">

  <div data-recipeswipe-target="target1">
    <%# ---------------------------------------------- %>

      <div class="recipe-show-banner">
        <div class="position-absolute top-0 start-0 p-3">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
          <% end %>
        </div>
        <div>
            <h5 class="recipe-name"><%= @recipe.name %></h5>
            <div class="card-infos-container">
              <div class="card-infos">
                <div class="card-img-top-recipeshow" >
                  <%= cl_image_tag @recipe.photo.key %>
                </div>
                  <h5 class= "text-start">Etape 1</h5>
                  <p class= "text-start">Ustensiles</p>
              </div>
            </div>
        </div>
      </div>
      <div class ="recipeshow-view">
        <div class= "details-container">
          <h5>Préparez vos ustensiles de cuisine</h5>
            <div class= "detail-card">
                <div class= "column1 border-right ustensiles">
                  <% @utensils.each do |ustensil| %>
                    <% ustensil %>
                      <p>1</p>
                  <% end %>
                </div>
                  <div class= "column2">
                    <% @utensils.each do |ustensil| %>
                      <p> <%= ustensil.name %> </p>
                    <% end %>
                  </div>
              <div class="column3">
                <div class="checkbox"></div>
                <div class="checkbox"></div>
                <div class="checkbox"></div>
                <div class="checkbox"></div>
              </div>
            </div>
        </div>
      </div>

    <%# ---------------------------------------------- %>
  </div>


  <div class="d-none" data-recipeswipe-target="target2">
    <%# ---------------------------------------------- %>

    <div class="recipe-show-banner">
        <div class="position-absolute top-0 start-0 p-3">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
          <% end %>
        </div>
          <div>
            <h5 class="recipe-name"><%= @recipe.name %></h5>
            <div class="card-infos-container">
              <div class="card-infos">
                <div class="card-img-top-recipeshow" >
                  <%= cl_image_tag @recipe.photo.key %>
                </div>
                  <h5 class= "text-start">Etape 2</h5>
                  <p class= "text-start">Ingredients</p>
              </div>
            </div>
        </div>
      </div>
      <div class ="recipeshow-view">
        <div class= "details-container">
          <h5>Préparez vos ingrédients</h5>
            <div class= "detail-card">
               <div class= "column1 border-right ustensiles">
                  <%  @ingredient_recipes.each do |ingredient_recipe| %>
                    <p>
                      <% if ingredient_recipe.quantity.present? %>
                        <%= ingredient_recipe.quantity %> g
                      <% else %>
                        <%= ingredient_recipe.ingredient.kcal_100g %> kcal/100g
                      <% end %>
                    </p>
                  <% end %>
                </div>
                <div class= "column2">
                  <%  @ingredient_recipes.each do |ingredient_recipe| %>
                   <p> <%= ingredient_recipe.ingredient.name %> </p>
                  <% end %>
                </div>
              <div class="column3">
                <div class="checkbox"></div>
                <div class="checkbox"></div>
                <div class="checkbox"></div>
                <div class="checkbox"></div>
              </div>
            </div>
        </div>

      </div>
    <%# ---------------------------------------------- %>
  </div>


  <div class="d-none" data-recipeswipe-target="target3">
    <%# ---------------------------------------------- %>
          <div class="recipe-show-banner">
      <div class="position-absolute top-0 start-0 p-3">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
          <% end %>
      </div>
    <div>
            <h5 class="recipe-name"><%= @recipe.name %></h5>
            <div class="card-infos-container">
              <div class="card-infos">
                <div class="card-img-top-recipeshow" >
                  <%= cl_image_tag @recipe.photo.key %>
                </div>
                  <h5 class= "text-start">Etape 3</h5>
                  <p class= "text-start">Préparation</p>
              </div>
            </div>
        </div>
    </div>
    <div  data-recipeswipe-target="suppdown">
      <div class ="recipeshow-view-step3">
        <div class= "details-container-step3">
        <div class= "step3-title">
          <h5>Cuisinons pas à pas</h5>
          </div>
            <div class= "detail-card-step3">
              <div class= "instructions-icons">
                <p>Couplet 1</p>
                <i id="down" class="fa-solid fa-play" data-action="click->recipeswipe#down"></i>
              </div>


              <div class= "instructions-icons">
                <p>Couplet 2</p>
                <i id="down" class="fa-solid fa-play" data-action="click->recipeswipe#down"></i>
              </div>
                <div class= "instructions-icons">
                  <p>Refrain</p>
                  <i id="down" class="fa-solid fa-play" data-action="click->recipeswipe#down"></i>
            </div>
            <div class= "instructions-icons">
                  <p>Fin</p>
                  <i id="down" class="fa-solid fa-play" data-action="click->recipeswipe#down"></i>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div >


      <%# ---------------------------------------------- %>
      <%# ---------------------------------------------- %>

  <div class="d-none" data-recipeswipe-target="down">
      <div class ="recipeshow-view-step3">
        <div class= "details-container-step3">
          <div class= "step3-title">
            <h5>Cuisinons pas à pas</h5>
          </div>
          <div class= "detail-card-step3">
            <div class= "instructions-icons-border">
              <p>Couplet 1</p>
                <i id="down" class="fa-solid fa-play" data-action="click->recipeswipe#down"></i>
            </div>
            <div class= "rolling-card">
              <p class= "border-bottom"><%= @steps_by_steps[0].description %></p>
            </div>
            <div class= "instructions-icons">
              <p>Couplet 2</p>
            </div>
            <div class= "instructions-icons">
              <p>Refrain</p>
            </div>
            <div class= "instructions-icons">
              <p>Fin</p>
            </div>
          </div>
        </div>
      </div>

  </div>
    <%# ---------------------------------------------- %><%# ---------------------------------------------- %>
    <%# ---------------------------------------------- %>
    <div class= "playbar-container">
        <div class="nav-item-playbar">
          <span class="nav-icon"><i class="fa-solid fa-backward" data-action="click->recipeswipe#return" data-recipeswipe-target="btngauche"></i></span>
        </div>
        <div class="nav-item-playbar">
          <span class="nav-icon"><i class="fa-solid fa-play"></i></span>
        </div>
        <div class="nav-item-plyabar">
          <span class="nav-icon"><i class="fa-solid fa-forward" data-action="click->recipeswipe#next" data-recipeswipe-target="btndroite"></i></span>
        </div>
    </div>

</div>
