
<div data-controller="recipeswipe">

  <div data-recipeswipe-target="target1">
    <%# ---------------------------------------------- %>

      <div class="recipe-show-banner">
        <div class="position-absolute top-0 start-0 p-3">
          <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
        </div>
        <div>
          <h5 class="recipe-name">Recipe name</h5>
          <div class="card-infos">
            <%= image_tag 'recette.jpeg', class: "card-img-top-recipeshow"%>
            <h5 class= "text-start">Step 1</h5>
            <p class= "text-start">Cooking<p>
          </div>
        </div>
      </div>
      <div class ="recipeshow-view">
        <div class= "details-container">
          <h5>Préparez vos ustensiles de cuisine</h5>
            <div class= "detail-card">
              <div class= "column1 border-right">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>...</p>
              </div>
              <div class= "column2">
                <p>Knife</p>
                <p>Frying pan</p>
                <p>Mixing bowl</p>
                <p>...</p>
              </div>
              <div class="column3">
                <div class="checkbox"></div>
                <div class="checkbox"></div>
                <div class="checkbox"></div>
                <div class="checkbox"></div>
              </div>
            </div>
        </div>
      </div>

    <%# ---------------------------------------------- %>
  </div>


  <div class="d-none" data-recipeswipe-target="target2">
    <%# ---------------------------------------------- %>

    <div class="recipe-show-banner">
        <div class="position-absolute top-0 start-0 p-3">
          <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
        </div>
        <div>
          <h5 class="recipe-name">Recipe name</h5>
          <div class="card-infos">
            <%= image_tag 'recette.jpeg', class: "card-img-top-recipeshow"%>
            <h5 class= "text-start">Step 2</h5>
            <p class= "text-start">Cooking<p>
          </div>
        </div>
      </div>
      <div class ="recipeshow-view">
        <div class= "details-container">
          <h5>Préparez vos ustensiles de cuisine</h5>
            <div class= "detail-card">
              <div class= "column1 border-right">
                <p>2</p>
                <p>180</p>
                <p>3</p>
                <p>...</p>
              </div>
              <div class= "column2">
                <p>Eggs</p>
                <p>Flour</p>
                <p>Cream</p>
                <p>Butter</p>
              </div>
              <div class="column3">
                <div class="checkbox"></div>
                <div class="checkbox"></div>
                <div class="checkbox"></div>
                <div class="checkbox"></div>
              </div>
            </div>
        </div>
      </div>
    <%# ---------------------------------------------- %>
  </div>


  <div class="d-none" data-recipeswipe-target="target3">
    <%# ---------------------------------------------- %>
          <div class="recipe-show-banner">
      <div class="position-absolute top-0 start-0 p-3">
        <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
      </div>
      <div>
        <h5 class="recipe-name">Recipe name</h5>
        <div class="card-infos">
          <%= image_tag 'recette.jpeg', class: "card-img-top-recipeshow"%>
          <h5 class= "text-start">Step 3</h5>
          <p class= "text-start">Cooking<p>
        </div>
      </div>
    </div>
    <div  data-recipeswipe-target="suppdown">
      <div class ="recipeshow-view-step3">
        <div class= "details-container-step3">
        <div class= "step3-title">
          <h5>Cuisinons pas à pas</h5>
          <i class="fa-regular fa-clock"></i>
          </div>
            <div class= "detail-card-step3">
              <div class= "instructions-icons">
                <p>Put your oven on 180°</p>
              </div>
              <div class= "instructions-icons">
                <p>Mix your ingredients</p>
                  <button data-action="click->recipeswipe#down">
                <i id="down" class="fa-solid fa-play"></i>
                </button>
              </div>
              <div class= "instructions-icons">
                <p>Boil the water</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div >


      <%# ---------------------------------------------- %>
      <%# ---------------------------------------------- %>

  <div class="d-none" data-recipeswipe-target="down">
      <div class ="recipeshow-view-step3">
        <div class= "details-container-step3">
          <div class= "step3-title">
            <h5>Cuisinons pas à pas</h5>
            <i class="fa-regular fa-clock"></i>
          </div>
          <div class= "detail-card-step3">
            <div class= "instructions-icons">
              <p>Put your oven on 180°</p>
            </div>
            <div class= "instructions-icons-border">
              <p>Mix your ingredients</p>
                  <button data-action="click->recipeswipe#down">
                <i id="down" class="fa-solid fa-play"></i>
                </button>
            </div>
            <div class= "rolling-card">
              <p>Faites ci</p>
              <p>Faites cela</p>
            </div>
            <div class= "instructions-icons">
              <p>Boil the water</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="d-none" data-recipeswipe-target="target4">
    <div class="recipe-show-banner">
      <div class="position-absolute top-0 start-0 p-3">
        <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
      </div>
      <div>
        <h5 class="recipe-name">Recipe name</h5>
        <div class="card-infos">
          <%= image_tag 'recette.jpeg', class: "card-img-top-recipeshow"%>
          <h5 class= "text-start">Step 4</h5>
          <p class= "text-start">Cooking<p>
        </div>
      </div>
    </div>

    <div class ="recipeshow-view-step3">
      <div class= "details-container-step3">
        <div class= "step3-title">
          <h5>Cuisinons pas à pas</h5>
          <i class="fa-regular fa-clock"></i>
        </div>
          <div class= "detail-card-step3">
            <div class= "instructions-icons4">
              <input type="checkbox" id="horns" name="horns" />
              <label for="horns">Horns</label>
            </div>
            <div class= "instructions-icons4">
              <input type="checkbox" id="horns" name="horns" />
              <label for="horns">Horns</label>
            </div>
            <div class= "instructions-icons4">
              <input type="checkbox" id="horns" name="horns" />
              <label for="horns">Horns</label>
            </div>
          </div>
            <div class="d-flex justify-content-center align-items-center">
              <button class="mise-en-assiette-button">Mise en assiette</button>
            </div>
      </div>
    </div>
  </div>
    <%# ---------------------------------------------- %><%# ---------------------------------------------- %>
  <div class="d-none" data-recipeswipe-target="target5">
  </div>
    <%# ---------------------------------------------- %><%# ---------------------------------------------- %>
    <%# ---------------------------------------------- %>

  <div class= "playbar-container">
    <div class="nav-item-playbar">
        <button data-action="click->recipeswipe#return" data-recipeswipe-target="btngauche">
        <span class="nav-icon"><i class="fa-solid fa-backward"></i></span>
        </button>

    </div>
    <div class="nav-item-playbar">

        <button>
        <span class="nav-icon"><i class="fa-solid fa-play"></i></span>
        </button>

    </div>
    <div class="nav-item-plyabar">

        <button data-action="click->recipeswipe#next" data-recipeswipe-target="btndroite">
        <span class="nav-icon"><i class="fa-solid fa-forward"></i></span>
        </button>

    </div>
  </div>
</div>
