


<div data-controller="recipeswipe">

  <div data-recipeswipe-target="target1">
    <%# ---------------------------------------------- %>

      <div class="recipe-show-banner">
        <div class="position-absolute top-0 start-0 p-3">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
          <% end %>
        </div>
        <div>
          <h5 class="recipe-name">Salade de quinoa</h5>
          <div class="card-infos">
            <%= image_tag 'recette.jpeg', class: "card-img-top-recipeshow"%>
            <h5 class= "text-start">Etape 1</h5>
            <p class= "text-start">Ustensiles<p>
          </div>
        </div>
      </div>
      <div class ="recipeshow-view">
        <div class= "details-container">
          <h5>Préparez vos ustensiles de cuisine</h5>
            <div class= "detail-card">
              <div class= "column1 border-right ustensiles">
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
              </div>
              <div class= "column2">
                <p>Couteau</p>
                <p>Saladier</p>
                <p>Casserole</p>
                <p>Planche a découper</p>
                <p>Passoire</p>
              </div>
              <div class="column3">
                <div class="checkbox"></div>
                <div class="checkbox"></div>
                <div class="checkbox"></div>
                <div class="checkbox"></div>
              </div>
            </div>
        </div>
      </div>

    <%# ---------------------------------------------- %>
  </div>


  <div class="d-none" data-recipeswipe-target="target2">
    <%# ---------------------------------------------- %>

    <div class="recipe-show-banner">
        <div class="position-absolute top-0 start-0 p-3">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
          <% end %>
        </div>
        <div>
          <h5 class="recipe-name">Quinoa à l'avocat</h5>
          <div class="card-infos">
            <%= image_tag 'recette.jpeg', class: "card-img-top-recipeshow"%>
            <h5 class= "text-start">Step 2</h5>
            <p class= "text-start">Ingrédients<p>
          </div>
        </div>
      </div>
      <div class ="recipeshow-view">
        <div class= "details-container">
          <h5>Préparez vos ingrédients</h5>
            <div class= "detail-card">
              <div class= "column1 ustensiles">
                <p>180g</p>
                <p>475ml</p>
                <p>2</p>
                <p>1</p>
                <p>1/2</p>
                <p>1/4</p>
                <p>2</p>
                <p>3</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>4</p>
              </div>
              <div class= "column2">
                <p>Quinoa</p>
                <p>Eau</p>
                <p>Avocats</p>
                <p>Tomates Cerises</p>
                <p>Concombre</p>
                <p>Oignon rouge</p>
                <p>Coriandre fraiche</p>
                <p>Cuillères de jus de citron</p>
                <p>Cuillères d'huile d'olive</p>
                <p>Pincée de sel</p>
                <p>Pincée de poivre</p>
                <p>Oeufs</p>
              </div>
              <div class="column3">
                <div class="checkbox"></div>
                <div class="checkbox"></div>
                <div class="checkbox"></div>
                <div class="checkbox"></div>
              </div>
            </div>
        </div>
      </div>
    <%# ---------------------------------------------- %>
  </div>


  <div class="d-none" data-recipeswipe-target="target3">
    <%# ---------------------------------------------- %>
          <div class="recipe-show-banner">
      <div class="position-absolute top-0 start-0 p-3">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
          <% end %>
      </div>
      <div>
        <h5 class="recipe-name">Quinoa à l'avocat</h5>
        <div class="card-infos">
          <%= image_tag 'recette.jpeg', class: "card-img-top-recipeshow"%>
          <h5 class= "text-start">Step 3</h5>
          <p class= "text-start">Cuisinons<p>
        </div>
      </div>
    </div>
    <div  data-recipeswipe-target="suppdown">
      <div class ="recipeshow-view-step3">
        <div class= "details-container-step3">
        <div class= "step3-title">
          <h5>Cuisinons pas à pas</h5>
          </div>
            <div class= "detail-card-step3">
              <div class= "instructions-icons">
                <p>Couper les 2 avocats</p>
              </div>
              <div class= "instructions-icons">
                <p>Mixer les ingredients</p>
                <i id="down" class="fa-solid fa-play" data-action="click->recipeswipe#down"></i>
              </div>
                <div class= "instructions-icons">
              <p>Assaisonner la salade</p>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div >


      <%# ---------------------------------------------- %>
      <%# ---------------------------------------------- %>

  <div class="d-none" data-recipeswipe-target="down">
      <div class ="recipeshow-view-step3">
        <div class= "details-container-step3">
          <div class= "step3-title">
            <h5>Cuisinons pas à pas</h5>
          </div>
          <div class= "detail-card-step3">
            <div class= "instructions-icons">
              <p>Couper les 2 avocats</p>
            </div>
            <div class= "instructions-icons-border">
              <p>Mixer les ingredients</p>
                <i id="down" class="fa-solid fa-play" data-action="click->recipeswipe#down"></i>
            </div>
            <div class= "rolling-card">
              <p class= "border-bottom">Melanger le Quinoa avec les tomates, concombre et l'oignon</p>
              <p>Melanger avec les avocats</p>
            </div>
            <div class= "instructions-icons">
              <p>Assaisonner la salade</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="d-none" data-recipeswipe-target="target4">
    <div class="recipe-show-banner">
      <div class="position-absolute top-0 start-0 p-3">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
        <% end %>
      </div>
      <div>
        <h5 class="recipe-name">Quinoa à l'avocat</h5>
        <div class="card-infos">
          <%= image_tag 'recette.jpeg', class: "card-img-top-recipeshow"%>
          <h5 class= "text-start">Step 4</h5>
          <p class= "text-start">Repartition<p>
        </div>
      </div>
    </div>

    <div class ="recipeshow-view-step3">
      <div class= "details-container-step3">
        <div class= "step3-title">
          <h5>Attribuons les bonnes proportions</h5>
        </div>
          <div class= "detail-card-step3">
            <div class= "instructions-icons4">
              <input type="checkbox" id="horns" name="horns" />
              <label for="horns">250 grammes pour Gautier</label>
            </div>
            <div class= "instructions-icons4">
              <input type="checkbox" id="horns" name="horns" />
              <label for="horns">500 grammes pour Tom Wagon</label>
            </div>
          </div>
            <div class="d-flex justify-content-center align-items-center">
              <button class="mise-en-assiette-button">Mise en assiette</button>
            </div>
      </div>
    </div>
  </div>
    <%# ---------------------------------------------- %
    ><%# ---------------------------------------------- %>
  <div class="d-none" data-recipeswipe-target="target5">
    <div class="recipe-show-banner">
      <div class="position-absolute top-0 start-0 p-3">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
        <% end %>
      </div>
      <div>
        <h5 class="recipe-name">Recipe name</h5>
        <div class="card-infos">
          <%= image_tag 'recette.jpeg', class: "card-img-top-recipeshow"%>
          <h5 class= "text-start">Step 5</h5>
          <p class= "text-start">Proposition de dressage<p>
        </div>
      </div>
    </div>

    <div class ="recipeshow-view-step5">
      <div class= "details-container-step5">
        <div class= "step5-title">
          <h5>Dressez votre plat !</h5>
        </div>
        <div class= "detail-card-step5">
          <div class= "card-img">
          </div>
        </div>
      </div>
  </div>

  </div>
    <%# ---------------------------------------------- %><%# ---------------------------------------------- %>
    <%# ---------------------------------------------- %>

  <div class= "playbar-container">
    <div class="nav-item-playbar">
      <span class="nav-icon"><i class="fa-solid fa-backward" data-action="click->recipeswipe#return" data-recipeswipe-target="btngauche"></i></span>
    </div>
    <div class="nav-item-playbar">
      <span class="nav-icon"><i class="fa-solid fa-play"></i></span>
    </div>
    <div class="nav-item-plyabar">
      <span class="nav-icon"><i class="fa-solid fa-forward" data-action="click->recipeswipe#next" data-recipeswipe-target="btndroite"></i></span>
    </div>
  </div>
</div>
