<div class="dashboard-banner">
  <div class="dashboard-container">
     <div class="dropdown position-absolute top-0 end-0 p-4">
      <div href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-bars"></i>
      </div>
      <ul class="dropdown-menu">
        <%= link_to "Supprimer le profil", profil_path(@profil), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </ul>
    </div>
    <div class="position-absolute top-0 start-0 p-3">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
      <% end %>
    </div>

    <div class="logo-profil">
      <%= image_tag 'constance.png', alt: 'Profil 1 Logo', class: 'constance-logo' %>
      <div class="profil-username">
        <%= @profil.username  %>
      </div>
      <div class="profil-age">
        <%= @profil.age %> ans
      </div>
    </div>
  </div>
</div>
<div class="container" data-controller="profil-edit like">
    <div class="cards-profil row" data-profil-edit-target="divg">
      <div class="card-profil col-5 mb-4" data-profil-edit-target="regime">
            <p class= "diet-title">Mon régime alimentaire</p>
            <p class= "diet-name"><%= @profil.diet.name %></p>
          <button class="button-profil"data-profil-edit-target="regimebtn" data-action= "click->profil-edit#regimeEdit">
            <i class="fa-solid fa-pen"></i>
          </button>
      </div>
      <div class="card-profil col-5 mb-4" data-profil-edit-target="objectif">
      <p class= "objectif-title">Mon objectif santé</p>
          <p class= "target-name"><%= @profil.target.name %></p>
        <button class="button-profil" data-profil-edit-target="objectifbtn" data-action= "click->profil-edit#ObjectifEdit">
          <i class="fa-solid fa-pen"></i>
        </button>
      </div>
      <div class="card-profil mb-4" data-profil-edit-target="Restriction">
         <p class= "restrictions-title"> Mes restrictions alimentaires</p>
          <% @profil.restrictions.each do |restriction| %>
            <p class= "restriction-name"><%= restriction.name %></p>
          <% end %>
        <button class="button-profil" data-profil-edit-target="Restrictionbtn" data-action= "click->profil-edit#RestrictionEdit">
          <i class="fa-solid fa-pen"></i>
        </button>
      </div>
      <div class="card-profil mb-4" data-like-target="preference">
        <%= render "profils/preferences", preferences: @preferences %>
      </div>
    </div>

  <div data-profil-edit-target="divg2" class="d-none">
    <div data-profil-edit-target="formrestriction" class="card-edit d-none">
      <%= simple_form_for @profil, url: update_profil_restrictions_profil_profil_path(@profil), method: :patch do |form| %>
        <h3>Sélectionnez vos restrictions :</h3>
        <h5>Choisissez-en plus d'un :</h5>
        <% @restrictions.each do |restriction| %>
        <div class="form-group form-switch form-switch-lg">
          <%= label_tag "restriction_ids_#{restriction.id}", restriction.name %>
          <%= check_box_tag 'restriction_ids[]', restriction.id, @profil.restriction_ids.include?(restriction.id), class: "form-check-input form-switch-input" %>
        </div>
        <% end %>
        <%= button_tag(type: 'submit', class: 'btn') do %>
          <i class="fa-solid fa-check"></i>
        <% end %>
      <% end %>
    </div>

  <div data-profil-edit-target="formregime" class="card-edit d-none">
    <%= simple_form_for @profil, url: update_profil_profil_path(@profil), method: :patch do |form| %>
      <h3>Sélectionnez votre régime principal :</h3>
      <h5>Choisissez-en un :</h5>
      <% @diets.each do |diet| %>
        <div class="form-group form-switch form-switch-lg">
          <%= form.label :diet_id, diet.name, value: diet.id %>
          <%= form.radio_button :diet_id, diet.id, class: "form-check-input form-switch-input" %>
        </div>
      <% end %>
      <%= button_tag(type: 'submit', class: 'btn') do %>
        <i class="fa-solid fa-check"></i>
      <% end %>
    <% end %>
  </div>

    <div data-profil-edit-target="formobjectif" class="card-edit d-none">
      <%= simple_form_for @profil, url: update_profil_profil_path(@profil), method: :patch do |form| %>
        <h3>Sélectionnez votre objectif principale :</h3>
        <h5>Choisissez-en un :</h5>
        <% @targets.each do |target| %>
          <div class="form-group form-switch form-switch-lg">
            <%= form.label :target_id, target.name, value: target.id %>
            <%= form.radio_button :target_id, target.id, class: "form-check-input form-switch-input" %>
          </div>
        <% end %>
        <%= button_tag(type: 'submit', class: 'btn') do %>
            <i class="fa-solid fa-check"></i>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="search-container">
      <%= form_with url: profil_path(@profil), method: :get, data: {action: "submit->profil-edit#search", profil_edit_target: "link"} do %>
        <%= text_field_tag :search, nil, placeholder: "Cherchez un ingrédient...", class: "search-input", data: {profil_edit_target: "input"} %>
        <button type="submit" class="fa-solid fa-magnifying-glass"></button>
      <% end %>
    </div>

    <div class="card-pref-container" id="ingredientList" data-profil-edit-target="card">
      <%= render "profils/ingredient", ingredient: @ingredient %>
    </div>

</div>



<%= render "pages/navbar" %>
